.header {
  margin: 0;
  padding: 110px 30px 40px 30px;
  background-color: rgb(231, 233, 235);
}

.comments {
  position: sticky;
  top: 85px;
}

.posts {
  padding: 20px;
  margin-bottom: 100px;
}

.post1 {
  margin: auto;
  background-color: white;
  height: inherit;
}

.img1 {
  width: 100%;
}

.post-d {
  padding: 10px;
  background-color: white;
  width: 80%;
  height: inherit;
  text-align: center;
}

.btn-loadmore {
  margin: 30px 45%;
  background-color: aliceblue;
  width: 100px;
}

.IMG1 {
  border-radius: 50%;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.block {
  display: block;
}